.gradle/
build/
app/build/
local.properties
*.iml
.idea/
captures/
.externalNativeBuild/
.cxx/
.kotlin/
run-qc-build.cmd
build-share.log
run-qc-spotless.cmd
run-qc-onC.cmd
app-qc-fresh.apk
device-verify.apk
qc-socketfix.apk
tc-socketfix.apk
*-socketfix.apk
